<div class="descricao__detalhes">
  <div class="detalhes__buttons">
    <button><i class="fa-solid fa-download"></i> Download</button>
    <button><i class="fa-solid fa-star"></i></button>
    <button><img src="../../../assets/doi.png" alt="doi"></button>
  </div>
  <p>COMO CITAR ESSE TRABALHO?</p>
  <article class="detalhes__dados">
    <header>
      <span>Detalhes</span>
    </header>
    <div class="dados__container">

      <div class="dados__container__parte1">
        <p>
          Tipo de Apresentação: <strong>Pôster</strong>
        </p>
        <p>
        Eixo temático: <strong>Alimentação e saúde (AS)</strong>
        </p>
        <p>
          Palavras-chaves: <strong>Alimentos funcionais, alimentação escolar.</strong>
        </p>
      </div>
      <br>
      <div class="dados__container__parte2">
        <h3>
          Autores:
        </h3>
        <ul>
          <li>
            Galileo Galilei¹
          </li>
          <li>
            Berta Lange de Morretes²
          </li>
          <li>
            Isaac Newton³
          </li>
          <li>
            Cesar Lattes¹
          </li>
          <li>
            Stephen Hawking⁴
          </li>
        </ul>
      </div>
      <br>
      <div class="dados__container__parte3">
        <p>
          ¹Universidade Estadual de Campinas
        </p>
        <p>
          ²Universidade de São Paulo
        </p>
        <p>
          ³Instituto Nacional de Pesquisas Espaciais
        </p>
        <p>
          ⁴Universidade Federal do Rio de Janeiro
        </p>
      </div>
    </div>
  </article>
</div>
