<article class="card">
  <header>
    <h3>Assunto da pergunta aparece aqui</h3>
    <p>Carlos Henrique Santos</p>
  </header>
  <p>Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo...</p>
  <footer>
    <button>
      <img src="../../../assets/mais informações.png" alt="mais informacoes">
    </button>
    <button>
      <i class="fa-solid fa-heart"></i>
    </button>
    <span>
      1 like
    </span>
    <span>
      1 resposta
    </span>
  </footer>
</article>
