// Geral

main{
  margin-left: 220px;
}

.content{
  padding: 20px 45px 50px 45px;
}

.content__descricao{
  display: flex;
  justify-content: space-between;
}

.content__resumo{
  border: 1px solid #ECECEC;
  min-height: 189px;
  margin-top: 30px;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.content__discussoes{
  border: 1px solid #ECECEC;
  margin-top: 30px;
  border-radius: 3px 3px 0 0;
}

.content__discussoes > header{
  height: 45px;
  background: #FDF1EB;
  padding: 10px 16px;
}

.content__discussoes header span{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #4E4E4E;
}

.discussoes__container{
  padding: 15px;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


//responsivo

@media screen and (max-width: 1349px) {

  main{
    margin-left: 0;
  }

  .content__descricao {
    flex-direction: column;
  }

}
