<app-aside></app-aside>
<main>
  <div *ngIf="isMobile; else desktop">
    <app-mobile-header></app-mobile-header>
  </div>
  <ng-template #desktop>
    <app-desktop-header></app-desktop-header>
  </ng-template>
  <div class="content">
    <section class="content__descricao">
      <app-descricao-video></app-descricao-video>
      <app-descricao-detalhes></app-descricao-detalhes>
    </section>
    <section class="content__resumo">
      <app-resumo></app-resumo>
    </section>
    <section class="content__discussoes">
      <header>
        <span>Discussões</span>
      </header>
      <div class="discussoes__container">
        <app-discussoes-topicos></app-discussoes-topicos>
        <div style="margin-top: 30px;"></div>
        <app-card></app-card>
        <div style="margin-top: 17px;"></div>
        <div></div>
        <app-card-comentado></app-card-comentado>
      </div>
    </section>
  </div>
  <app-footer></app-footer>
</main>
