.desktop__header{
  width: 100%;
  height: 68px;
  background-color: #FDF1EB;
  padding: 0 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.evento p{
  color: #725C5C;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16.41px;
}

.evento p:nth-of-type(1){
  padding-top: 5px;
}

.evento p:not(:nth-of-type(1)){
  padding-top: 2px;
}

.evento p:nth-of-type(2){
  font-size: 22px;
  line-height: 25.78px;
}

.perfil{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333333;
}

.perfil__linguas #btLinguas{
  width: 97px;
  height: 34px;
  border-radius: 3px;
  border: 1px solid #CCCCCC;
  color: #333333;
  font-size: 14px;
  line-height: 17.5px;
  padding-left: 22px;
  background-color: #FDF1EB;
  background-image: url(../../../assets/globo.png);
  background-repeat: no-repeat;
  background-position: left center;
}

.perfil__usuario{
  display: flex;
  align-items: center;
}

.usuario__dados{
  margin-left: 22px;
}

.usuario__dados p{
  text-align: right;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: #333333;
}

.usuario__dados p:nth-of-type(1){
  font-size: 14px;
  line-height: 17.5px;
}

.usuario__dados p:nth-of-type(2){
  font-size: 12px;
  line-height: 15px;
}

.usuario__foto{
  margin-left: 2px;
}

.usuario__foto img{
  width: 30.3px;
  border-radius: 50%;
}
