@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap');
// font-family: 'Quicksand', sans-serif;
// font-family: 'Roboto', sans-serif;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 0;
}

//scrollbar
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: #bfbfbf #e7e7e7;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 3px;
  }

  *::-webkit-scrollbar-track {
    background: #e7e7e7;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #bfbfbf;
    border-radius: 5px;
    border: 3px solid #bfbfbf;
  }
